<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="shortcut icon" href="#" type="image/x-icon">
    <link rel="stylesheet" href="css/index.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600;700&family=Inter:wght@400;500;600&display=swap" rel="stylesheet">
    

    <script src="js/burger.js"></script>
    <script src="js/carusel.js"></script>
    <script src="js/accordion.js"></script>

    <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
</head>
<body>
    <header class="header">
       <nav data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="global.header-nav.partial.html"></nav>
        <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="global.popup.partial.html"></section>  
    </header>
    <main class="main">
        <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="global.header-hero.partial.html"></section>
        <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="global.form.partial.html"></section>    
        <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="global.about.partial.html"></section>    
        <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="global.services.partial.html"></section>    
        <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="global.projects.partial.html"></section>    
        <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="global.feedback.partial.html"></section>    
        <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="global.ready.partial.html"></section>    
        <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="global.faq.partial.html"></section>    
    </main>
    <footer class="footer">
       <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="global.footer.partial.html"></section>
    </footer>
</body>
</html>
